@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Satisfy&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
}

body {
    background-color: aliceblue;
    background-image: url(img/pngegg.png);
    background-size: cover;
}

.border-gray {
    border: 10px solid dimgray;
    background-color: white;
    border-radius: 25px;
    padding: 50px 50px 50px 50px
}

.text-green {
    color: #113300
}

.heading {
    font-family: 'Satisfy', cursive;
}

.logo {
    width: 25%;
}

.carousel-padding{
    padding: 132px;
}

.navv {
    background-image: radial-gradient(ellipse at top left, #8d8d8d 0%, #00000000 40%);
    position: fixed;
    border-bottom: 2px solid #1b0a00;
    border-right: 2px solid #1b0a00;
    border-radius: 0 0 25px 0;
}

.content.inner {
    border: 2px solid #e4f5ff;
    border-radius: 25px;
    background-color: #a8bfd3;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;

}

.content.img {
    border: 2px solid #e4f5ff;
    border-radius: 25px;
    background-color: #a8bfd3;
    padding: 20px 20px 20px 20px;
    width: 50%;
}

.content.border {
    border: 2px solid #e4f5ff;
    border-radius: 25px;
    background-color: #a8bfd3;
    padding: 20px 20px 20px 20px;
}

.map {
    border: 2px solid black;
    height: 604px;
}

#jrap, #sbr, #dbr {
    width: 100%;
    border-radius: 25px;
}

.book {
    background-color: #84a8c8;
    box-shadow: 5px 5px 0 #91afca;
    color: #000000;
    text-decoration: none;
}

.book:hover {
    color: #ffffff;
    background-color: #3a71a1;
    box-shadow: 5px 5px 0 #558bb9;
}

.content.inner.alt {
    border: 2px solid #e4f5ff;
    border-radius: 25px;
    background-color: #a8caff;
    padding: 20px 20px 20px 20px;
}